.filter-section {
    padding: 100px 120px;
    padding-bottom: 20px;
    display: flex;
}

.filter-button {
    display: flex;
    padding: 0.75rem 1.625rem;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background-color: #064D49;
    color: #FFF3DC;
}

.filter-options{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.filter-option {
    height: 100%;
    padding: 12px 20px;
    border: 2px solid #064D49;
    color: #064D49;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.filter-option.clicked{
    background-color: #ffdd9f;
}

.table{
    width: 100vw;
    overflow: scroll;
    padding: 100px 120px;
    padding-top: 164px;
    padding-right: calc(120px - 41px);
}

.table::-webkit-scrollbar {
    display: none;
  }
  

.table-header > td{
    padding-right: 41px;
}

.table table tr td{
    padding-bottom: 41px;
}

.section-title-td{
    display: flex;
}

.metric{
    display: flex;
}

.metric button{
    padding: 4px;
    border: none;
    outline: none;
    background: transparent;
    margin-right: 8px;
}

h3{
font-family: "Lora";
font-size: 1.625rem;
font-style: normal;
font-weight: 700;
line-height: 115%; /* 1.86875rem */
padding-right: 26px;
}

tbody td{
    font-size: 20px;
}